* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  background: white;
  color: #333;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 125%;
  font-family: -apple-system, BlinkMacSystemFont;
}

a {
  cursor: pointer;
  text-decoration: none;
}

ul, ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
