.loading {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 16rem;

  svg {
    width: 3.6rem;
  }
  .text {
    margin-top: .8rem;
  }
}

.icon {
  width: 4.2rem;
  position: relative;
  .chain {
    border: 2px solid white;
    border-radius: .8rem;
    width: 1.6rem;
    position: absolute;
    top: 60%;
    left: 0%;
    z-index: 99;
  }
}
