.loading {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 16rem;

  svg {
    width: 3.6rem;
  }
  .text {
    margin-top: 0.8rem;
  }
}

.icon {
  width: 5rem;
  position: relative;
  .chain {
    border: 2px solid white;
    border-radius: 0.8rem;
    width: 1.6rem;
    position: absolute;
    top: 60%;
    left: 0%;
    z-index: 99;
  }
}

.header {
  color: white;
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  margin: .8rem 0 3rem;
  padding: 0 1.4rem;
  svg {
    margin-right: 1.6rem;
  }
  &.black {
    color: #333;
  }
}
