* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  background: #f1f2f8;
  font-size: 62.5%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333;
  font-size: 1.6rem;
  line-height: 125%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  color: #333;
  cursor: pointer;
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
}

img {
  max-width: 100%;
}

input,
textarea {
  font-size: 1.6rem;
}

.red {
  color: #e57874;
}

.green {
  color: #5dbc7a;
}

button.submit {
  background: #3d404b;
  border: 0;
  border-radius: 4.8rem;
  color: white;
  cursor: pointer;
  padding: 1.4rem 3.8rem;

  &.false, &.prepare {
    background: rgba(61, 64, 75, 0.16);
  }
}
