.guide {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0 2.4rem 20rem;

  main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .icon {
    margin-bottom: 6rem;
  }

  .body {
    padding-left: 1rem;
    li {
      margin-bottom: 1rem;
      position: relative;
      &:before {
        content: "";
        position: absolute;
        left: -1rem;
        top: 0.8rem;
        background: #333;
        display: inline-block;
        width: 0.4rem;
        height: 0.4rem;
        border-radius: 0.2rem;
      }
    }
  }
}
